/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: 'Almarai', sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: black;
}

section {
  min-height: 100vh;
}

h1, h2, h3, p, a, button, span {
  font-family: 'Almarai', sans-serif;
}
