<main class="hero-section">
  <div class="hero-content">
    <div class="hero-text">
      <h1>WELCOME TO <em>TRAC<em>SHOT</em></em></h1>
      <h2>Master your aim. Own your progress.</h2>
      <p class="hero-description">
        TracShot analyzes your target using AI and advanced calculations to instantly provide insights into your score, shot spread, and progress. Stay fully immersed in your shooting experience without distractions. Whether you're a beginner or an experienced shooter, TracShot has something for everyone. Join us and elevate your shooting skills to new heights.
      </p>
    </div>
    <div class="hero-target">
      <p class="target-instruction">Click on the target</p>
      <div class="target" #targetContainer>
        <app-target></app-target>
      </div>
    </div>
  </div>
  <div class="image-container">
    <img src="assets/shootingclub.png" alt="Shooting Range" class="shootingclub-image">
  </div>
</main>
