.hero-section {
  padding-top: 70px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.hero-content {
  width: 100%;
  max-width: 800px;
  text-align: center;
  color: white;
  padding: 4rem 1rem;
  margin-top: 10vh;
}

h1, h2, p {
  font-family: 'Inter', sans-serif;
  color: white;
}

h1 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  margin-bottom: 1rem;
  font-weight: 600;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  line-height: 1.2;
  font-weight: 700;
}

/*
p {
  font-size: clamp(1rem, 3vw, 1.2rem);
  line-height: 1.6;
  margin-bottom: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
}
*/
@media (max-width: 768px) {
  .hero-content {
    padding: 2rem 1rem;
  }

  .target-container {
    padding: 1rem;
  }
}

.target-instruction {
  font-size: 1.2rem;
  color: white;
  margin-top: -3rem;
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 500;
}

.target {
  cursor: pointer;
}
