<nav class="navbar">
  <div class="logo-space">
    <img src="assets/TracShotWhite.png" alt="TracShot Logo" class="logo">
  </div>
  <div class="nav-links">
    <a (click)="scrollToSection('home')" [class.active]="currentSection === 'home'">Home</a>
    <a (click)="scrollToSection('features')" [class.active]="currentSection === 'features'">Features</a>
    <a (click)="scrollToSection('community')" [class.active]="currentSection === 'community'">Community</a>
    <a (click)="scrollToSection('about')" [class.active]="currentSection === 'about'">About Us</a>
    <a (click)="scrollToSection('download')" [class.active]="currentSection === 'download'">Download</a>
  </div>
</nav>
